In [1]:
import xml.etree.ElementTree as ET

In [18]:
ugly = '../xmltv.xml'
tree = ET.parse(ugly)
root = tree.getroot()

In [19]:

tree = ET.ElementTree(root)

In [20]:
for elm in tree.findall('channel'):
    print(elm.attrib)

{'id': 'I2.1.44246.zap2it.com'}
{'id': 'I2.2.44248.zap2it.com'}
{'id': 'I2.3.62638.zap2it.com'}
{'id': 'I2.4.101941.zap2it.com'}
{'id': 'I2.6.108220.zap2it.com'}
{'id': 'I4.1.31761.zap2it.com'}
{'id': 'I4.2.52383.zap2it.com'}
{'id': 'I4.3.80764.zap2it.com'}
{'id': 'I4.4.111083.zap2it.com'}
{'id': 'I4.5.111084.zap2it.com'}
{'id': 'I7.1.35471.zap2it.com'}
{'id': 'I7.10.126739.zap2it.com'}
{'id': 'I7.11.123848.zap2it.com'}
{'id': 'I7.2.64626.zap2it.com'}
{'id': 'I7.3.105730.zap2it.com'}
{'id': 'I7.4.121066.zap2it.com'}
{'id': 'I7.5.121067.zap2it.com'}
{'id': 'I7.6.121068.zap2it.com'}
{'id': 'I7.7.121069.zap2it.com'}
{'id': 'I7.8.121070.zap2it.com'}
{'id': 'I7.9.121453.zap2it.com'}
{'id': 'I9.1.33823.zap2it.com'}
{'id': 'I9.2.62614.zap2it.com'}
{'id': 'I9.3.100681.zap2it.com'}
{'id': 'I9.4.100682.zap2it.com'}
{'id': 'I11.1.32797.zap2it.com'}
{'id': 'I11.2.36025.zap2it.com'}
{'id': 'I11.3.97749.zap2it.com'}
{'id': 'I11.4.106553.zap2it.com'}
{'id': 'I13.1.20375.zap2it.com'}
{'id': 'I13.2.77031.zap2it.com'}
{'id': 'I13.3.96405.zap2it.com'}
{'id': 'I13.4.114695.zap2it.com'}
{'id': 'I13.5.124002.zap2it.com'}
{'id': 'I13.6.169314.zap2it.com'}
{'id': 'I14.1.35769.zap2it.com'}
{'id': 'I14.2.61794.zap2it.com'}
{'id': 'I14.3.96414.zap2it.com'}
{'id': 'I14.4.117318.zap2it.com'}
{'id': 'I20.1.52313.zap2it.com'}
{'id': 'I20.2.55688.zap2it.com'}
{'id': 'I20.3.58521.zap2it.com'}
{'id': 'I20.4.58523.zap2it.com'}
{'id': 'I20.5.103417.zap2it.com'}
{'id': 'I20.6.118340.zap2it.com'}
{'id': 'I23.1.43456.zap2it.com'}
{'id': 'I23.2.59313.zap2it.com'}
{'id': 'I23.3.62654.zap2it.com'}
{'id': 'I23.4.102729.zap2it.com'}
{'id': 'I23.6.108224.zap2it.com'}
{'id': 'I25.33290.zap2it.com'}
{'id': 'I26.21448.zap2it.com'}
{'id': 'I36.1.44461.zap2it.com'}
{'id': 'I44.29085.zap2it.com'}
{'id': 'I44.1.34815.zap2it.com'}
{'id': 'I44.2.53291.zap2it.com'}
{'id': 'I44.3.91556.zap2it.com'}
{'id': 'I46.1.34587.zap2it.com'}
{'id': 'I46.2.49854.zap2it.com'}
{'id': 'I46.3.116722.zap2it.com'}
{'id': 'I46.4.116723.zap2it.com'}
{'id': 'I46.5.118341.zap2it.com'}
{'id': 'I46.6.151558.zap2it.com'}
{'id': 'I53.17271.zap2it.com'}

In [23]:
# Create a list to store dictionaries representing each book
books_list = []
# Iterate through each <book> element
for book_elem in root.findall('.//channel'):
    book_dict = {}
    book_dict['id'] = book_elem.get('id')
    i=0
    for child_elem in book_elem.findall('display-name'):
        print (child_elem.text)
        tag=child_elem.tag+str(i)
        book_dict[tag] = child_elem.text
        i += 1
    books_list.append(book_dict)

2.1 KUSDDT
2.1
KUSDDT
2.2 KUSDDT2
2.2
KUSDDT2
2.3 KUSDDT3
2.3
KUSDDT3
2.4 KUSDDT4
2.4
KUSDDT4
2.6 KUSDDT6
2.6
KUSDDT6
4.1 KTIVDT
4.1
KTIVDT
4.2 KTIVDT2
4.2
KTIVDT2
4.3 KTIVDT3
4.3
KTIVDT3
4.4 KTIVDT4
4.4
KTIVDT4
4.5 KTIVDT5
4.5
KTIVDT5
7.1 KTTWDT
7.1
KTTWDT
7.10 KTTWD10
7.10
KTTWD10
7.11 KTTWD11
7.11
KTTWD11
7.2 KTTWDT2
7.2
KTTWDT2
7.3 KTTWDT3
7.3
KTTWDT3
7.4 KTTWDT4
7.4
KTTWDT4
7.5 KTTWDT5
7.5
KTTWDT5
7.6 KTTWDT6
7.6
KTTWDT6
7.7 KTTWDT7
7.7
KTTWDT7
7.8 KTTWDT8
7.8
KTTWDT8
7.9 KTTWDT9
7.9
KTTWDT9
9.1 KCAUDT
9.1
KCAUDT
9.2 KCAUDT2
9.2
KCAUDT2
9.3 KCAUDT3
9.3
KCAUDT3
9.4 KCAUDT4
9.4
KCAUDT4
11.1 KELODT
11.1
KELODT
11.2 KELODT2
11.2
KELODT2
11.3 KELODT3
11.3
KELODT3
11.4 KELODT4
11.4
KELODT4
13.1 KSFYDT
13.1
KSFYDT
13.2 KSFYDT2
13.2
KSFYDT2
13.3 KSFYDT3
13.3
KSFYDT3
13.4 KSFYDT4
13.4
KSFYDT4
13.5 KSFYDT5
13.5
KSFYDT5
13.6 KSFYDT6
13.6
KSFYDT6
14.1 KMEGDT
14.1
KMEGDT
14.2 KMEGDT2
14.2
KMEGDT2
14.3 KMEGDT3
14.3
KMEGDT3
14.4 KMEGDT4
14.4
KMEGDT4
20.1 KSMNDT
20.1
KSMNDT
20.2 KSMNDT2
20.2
KSMNDT2
20.3 KSMNDT3
20.3
KSMNDT3
20.4 KSMNDT4
20.4
KSMNDT4
20.5 KSMNDT5
20.5
KSMNDT5
20.6 KSMNDT6
20.6
KSMNDT6
23.1 KCSDDT
23.1
KCSDDT
23.2 KCSDDT2
23.2
KCSDDT2
23.3 KCSDDT3
23.3
KCSDDT3
23.4 KCSDDT4
23.4
KCSDDT4
23.6 KCSDDT6
23.6
KCSDDT6
25 K25AA
25
K25AA
26 KCPOLP
26
KCPOLP
36.1 KSFLDT
36.1
KSFLDT
44 KCWSLP
44
KCWSLP
44.1 KPTHDT
44.1
KPTHDT
44.2 KPTHDT2
44.2
KPTHDT2
44.3 KPTHDT3
44.3
KPTHDT3
46.1 KDLTDT
46.1
KDLTDT
46.2 KDLTDT2
46.2
KDLTDT2
46.3 KDLTDT3
46.3
KDLTDT3
46.4 KDLTDT4
46.4
KDLTDT4
46.5 KDLTDT5
46.5
KDLTDT5
46.6 KDLTDT6
46.6
KDLTDT6
53 K53EG
53
K53EG

In [22]:
books_list

[{'id': 'I2.1.44246.zap2it.com',
  'display-name0': '2.1 KUSDDT',
  'display-name1': '2.1',
  'display-name2': 'KUSDDT'},
 {'id': 'I2.2.44248.zap2it.com',
  'display-name0': '2.2 KUSDDT2',
  'display-name1': '2.2',
  'display-name2': 'KUSDDT2'},
 {'id': 'I2.3.62638.zap2it.com',
  'display-name0': '2.3 KUSDDT3',
  'display-name1': '2.3',
  'display-name2': 'KUSDDT3'},
 {'id': 'I2.4.101941.zap2it.com',
  'display-name0': '2.4 KUSDDT4',
  'display-name1': '2.4',
  'display-name2': 'KUSDDT4'},
 {'id': 'I2.6.108220.zap2it.com',
  'display-name0': '2.6 KUSDDT6',
  'display-name1': '2.6',
  'display-name2': 'KUSDDT6'},
 {'id': 'I4.1.31761.zap2it.com',
  'display-name0': '4.1 KTIVDT',
  'display-name1': '4.1',
  'display-name2': 'KTIVDT'},
 {'id': 'I4.2.52383.zap2it.com',
  'display-name0': '4.2 KTIVDT2',
  'display-name1': '4.2',
  'display-name2': 'KTIVDT2'},
 {'id': 'I4.3.80764.zap2it.com',
  'display-name0': '4.3 KTIVDT3',
  'display-name1': '4.3',
  'display-name2': 'KTIVDT3'},
 {'id': 'I4.4.111083.zap2it.com',
  'display-name0': '4.4 KTIVDT4',
  'display-name1': '4.4',
  'display-name2': 'KTIVDT4'},
 {'id': 'I4.5.111084.zap2it.com',
  'display-name0': '4.5 KTIVDT5',
  'display-name1': '4.5',
  'display-name2': 'KTIVDT5'},
 {'id': 'I7.1.35471.zap2it.com',
  'display-name0': '7.1 KTTWDT',
  'display-name1': '7.1',
  'display-name2': 'KTTWDT'},
 {'id': 'I7.10.126739.zap2it.com',
  'display-name0': '7.10 KTTWD10',
  'display-name1': '7.10',
  'display-name2': 'KTTWD10'},
 {'id': 'I7.11.123848.zap2it.com',
  'display-name0': '7.11 KTTWD11',
  'display-name1': '7.11',
  'display-name2': 'KTTWD11'},
 {'id': 'I7.2.64626.zap2it.com',
  'display-name0': '7.2 KTTWDT2',
  'display-name1': '7.2',
  'display-name2': 'KTTWDT2'},
 {'id': 'I7.3.105730.zap2it.com',
  'display-name0': '7.3 KTTWDT3',
  'display-name1': '7.3',
  'display-name2': 'KTTWDT3'},
 {'id': 'I7.4.121066.zap2it.com',
  'display-name0': '7.4 KTTWDT4',
  'display-name1': '7.4',
  'display-name2': 'KTTWDT4'},
 {'id': 'I7.5.121067.zap2it.com',
  'display-name0': '7.5 KTTWDT5',
  'display-name1': '7.5',
  'display-name2': 'KTTWDT5'},
 {'id': 'I7.6.121068.zap2it.com',
  'display-name0': '7.6 KTTWDT6',
  'display-name1': '7.6',
  'display-name2': 'KTTWDT6'},
 {'id': 'I7.7.121069.zap2it.com',
  'display-name0': '7.7 KTTWDT7',
  'display-name1': '7.7',
  'display-name2': 'KTTWDT7'},
 {'id': 'I7.8.121070.zap2it.com',
  'display-name0': '7.8 KTTWDT8',
  'display-name1': '7.8',
  'display-name2': 'KTTWDT8'},
 {'id': 'I7.9.121453.zap2it.com',
  'display-name0': '7.9 KTTWDT9',
  'display-name1': '7.9',
  'display-name2': 'KTTWDT9'},
 {'id': 'I9.1.33823.zap2it.com',
  'display-name0': '9.1 KCAUDT',
  'display-name1': '9.1',
  'display-name2': 'KCAUDT'},
 {'id': 'I9.2.62614.zap2it.com',
  'display-name0': '9.2 KCAUDT2',
  'display-name1': '9.2',
  'display-name2': 'KCAUDT2'},
 {'id': 'I9.3.100681.zap2it.com',
  'display-name0': '9.3 KCAUDT3',
  'display-name1': '9.3',
  'display-name2': 'KCAUDT3'},
 {'id': 'I9.4.100682.zap2it.com',
  'display-name0': '9.4 KCAUDT4',
  'display-name1': '9.4',
  'display-name2': 'KCAUDT4'},
 {'id': 'I11.1.32797.zap2it.com',
  'display-name0': '11.1 KELODT',
  'display-name1': '11.1',
  'display-name2': 'KELODT'},
 {'id': 'I11.2.36025.zap2it.com',
  'display-name0': '11.2 KELODT2',
  'display-name1': '11.2',
  'display-name2': 'KELODT2'},
 {'id': 'I11.3.97749.zap2it.com',
  'display-name0': '11.3 KELODT3',
  'display-name1': '11.3',
  'display-name2': 'KELODT3'},
 {'id': 'I11.4.106553.zap2it.com',
  'display-name0': '11.4 KELODT4',
  'display-name1': '11.4',
  'display-name2': 'KELODT4'},
 {'id': 'I13.1.20375.zap2it.com',
  'display-name0': '13.1 KSFYDT',
  'display-name1': '13.1',
  'display-name2': 'KSFYDT'},
 {'id': 'I13.2.77031.zap2it.com',
  'display-name0': '13.2 KSFYDT2',
  'display-name1': '13.2',
  'display-name2': 'KSFYDT2'},
 {'id': 'I13.3.96405.zap2it.com',
  'display-name0': '13.3 KSFYDT3',
  'display-name1': '13.3',
  'display-name2': 'KSFYDT3'},
 {'id': 'I13.4.114695.zap2it.com',
  'display-name0': '13.4 KSFYDT4',
  'display-name1': '13.4',
  'display-name2': 'KSFYDT4'},
 {'id': 'I13.5.124002.zap2it.com',
  'display-name0': '13.5 KSFYDT5',
  'display-name1': '13.5',
  'display-name2': 'KSFYDT5'},
 {'id': 'I13.6.169314.zap2it.com',
  'display-name0': '13.6 KSFYDT6',
  'display-name1': '13.6',
  'display-name2': 'KSFYDT6'},
 {'id': 'I14.1.35769.zap2it.com',
  'display-name0': '14.1 KMEGDT',
  'display-name1': '14.1',
  'display-name2': 'KMEGDT'},
 {'id': 'I14.2.61794.zap2it.com',
  'display-name0': '14.2 KMEGDT2',
  'display-name1': '14.2',
  'display-name2': 'KMEGDT2'},
 {'id': 'I14.3.96414.zap2it.com',
  'display-name0': '14.3 KMEGDT3',
  'display-name1': '14.3',
  'display-name2': 'KMEGDT3'},
 {'id': 'I14.4.117318.zap2it.com',
  'display-name0': '14.4 KMEGDT4',
  'display-name1': '14.4',
  'display-name2': 'KMEGDT4'},
 {'id': 'I20.1.52313.zap2it.com',
  'display-name0': '20.1 KSMNDT',
  'display-name1': '20.1',
  'display-name2': 'KSMNDT'},
 {'id': 'I20.2.55688.zap2it.com',
  'display-name0': '20.2 KSMNDT2',
  'display-name1': '20.2',
  'display-name2': 'KSMNDT2'},
 {'id': 'I20.3.58521.zap2it.com',
  'display-name0': '20.3 KSMNDT3',
  'display-name1': '20.3',
  'display-name2': 'KSMNDT3'},
 {'id': 'I20.4.58523.zap2it.com',
  'display-name0': '20.4 KSMNDT4',
  'display-name1': '20.4',
  'display-name2': 'KSMNDT4'},
 {'id': 'I20.5.103417.zap2it.com',
  'display-name0': '20.5 KSMNDT5',
  'display-name1': '20.5',
  'display-name2': 'KSMNDT5'},
 {'id': 'I20.6.118340.zap2it.com',
  'display-name0': '20.6 KSMNDT6',
  'display-name1': '20.6',
  'display-name2': 'KSMNDT6'},
 {'id': 'I23.1.43456.zap2it.com',
  'display-name0': '23.1 KCSDDT',
  'display-name1': '23.1',
  'display-name2': 'KCSDDT'},
 {'id': 'I23.2.59313.zap2it.com',
  'display-name0': '23.2 KCSDDT2',
  'display-name1': '23.2',
  'display-name2': 'KCSDDT2'},
 {'id': 'I23.3.62654.zap2it.com',
  'display-name0': '23.3 KCSDDT3',
  'display-name1': '23.3',
  'display-name2': 'KCSDDT3'},
 {'id': 'I23.4.102729.zap2it.com',
  'display-name0': '23.4 KCSDDT4',
  'display-name1': '23.4',
  'display-name2': 'KCSDDT4'},
 {'id': 'I23.6.108224.zap2it.com',
  'display-name0': '23.6 KCSDDT6',
  'display-name1': '23.6',
  'display-name2': 'KCSDDT6'},
 {'id': 'I25.33290.zap2it.com',
  'display-name0': '25 K25AA',
  'display-name1': '25',
  'display-name2': 'K25AA'},
 {'id': 'I26.21448.zap2it.com',
  'display-name0': '26 KCPOLP',
  'display-name1': '26',
  'display-name2': 'KCPOLP'},
 {'id': 'I36.1.44461.zap2it.com',
  'display-name0': '36.1 KSFLDT',
  'display-name1': '36.1',
  'display-name2': 'KSFLDT'},
 {'id': 'I44.29085.zap2it.com',
  'display-name0': '44 KCWSLP',
  'display-name1': '44',
  'display-name2': 'KCWSLP'},
 {'id': 'I44.1.34815.zap2it.com',
  'display-name0': '44.1 KPTHDT',
  'display-name1': '44.1',
  'display-name2': 'KPTHDT'},
 {'id': 'I44.2.53291.zap2it.com',
  'display-name0': '44.2 KPTHDT2',
  'display-name1': '44.2',
  'display-name2': 'KPTHDT2'},
 {'id': 'I44.3.91556.zap2it.com',
  'display-name0': '44.3 KPTHDT3',
  'display-name1': '44.3',
  'display-name2': 'KPTHDT3'},
 {'id': 'I46.1.34587.zap2it.com',
  'display-name0': '46.1 KDLTDT',
  'display-name1': '46.1',
  'display-name2': 'KDLTDT'},
 {'id': 'I46.2.49854.zap2it.com',
  'display-name0': '46.2 KDLTDT2',
  'display-name1': '46.2',
  'display-name2': 'KDLTDT2'},
 {'id': 'I46.3.116722.zap2it.com',
  'display-name0': '46.3 KDLTDT3',
  'display-name1': '46.3',
  'display-name2': 'KDLTDT3'},
 {'id': 'I46.4.116723.zap2it.com',
  'display-name0': '46.4 KDLTDT4',
  'display-name1': '46.4',
  'display-name2': 'KDLTDT4'},
 {'id': 'I46.5.118341.zap2it.com',
  'display-name0': '46.5 KDLTDT5',
  'display-name1': '46.5',
  'display-name2': 'KDLTDT5'},
 {'id': 'I46.6.151558.zap2it.com',
  'display-name0': '46.6 KDLTDT6',
  'display-name1': '46.6',
  'display-name2': 'KDLTDT6'},
 {'id': 'I53.17271.zap2it.com',
  'display-name0': '53 K53EG',
  'display-name1': '53',
  'display-name2': 'K53EG'}]

In [8]:
for channel in books_list:
    print(channel['display-name0'])

2.1 KUSDDT
2.2 KUSDDT2
2.3 KUSDDT3
2.4 KUSDDT4
2.6 KUSDDT6
4.1 KTIVDT
4.2 KTIVDT2
4.3 KTIVDT3
4.4 KTIVDT4
4.5 KTIVDT5
7.1 KTTWDT
7.10 KTTWD10
7.11 KTTWD11
7.2 KTTWDT2
7.3 KTTWDT3
7.4 KTTWDT4
7.5 KTTWDT5
7.6 KTTWDT6
7.7 KTTWDT7
7.8 KTTWDT8
7.9 KTTWDT9
9.1 KCAUDT
9.2 KCAUDT2
9.3 KCAUDT3
9.4 KCAUDT4
11.1 KELODT
11.2 KELODT2
11.3 KELODT3
11.4 KELODT4
13.1 KSFYDT
13.2 KSFYDT2
13.3 KSFYDT3
13.4 KSFYDT4
13.5 KSFYDT5
13.6 KSFYDT6
14.1 KMEGDT
14.2 KMEGDT2
14.3 KMEGDT3
14.4 KMEGDT4
20.1 KSMNDT
20.2 KSMNDT2
20.3 KSMNDT3
20.4 KSMNDT4
20.5 KSMNDT5
20.6 KSMNDT6
23.1 KCSDDT
23.2 KCSDDT2
23.3 KCSDDT3
23.4 KCSDDT4
23.6 KCSDDT6
25 K25AA
26 KCPOLP
36.1 KSFLDT
44 KCWSLP
44.1 KPTHDT
44.2 KPTHDT2
44.3 KPTHDT3
46.1 KDLTDT
46.2 KDLTDT2
46.3 KDLTDT3
46.4 KDLTDT4
46.5 KDLTDT5
46.6 KDLTDT6
53 K53EG

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(books_list)

# Display the DataFrame
print(df)

                         id display-name0 display-name1 display-name2
0     I2.1.44246.zap2it.com    2.1 KUSDDT           2.1        KUSDDT
1     I2.2.44248.zap2it.com   2.2 KUSDDT2           2.2       KUSDDT2
2     I2.3.62638.zap2it.com   2.3 KUSDDT3           2.3       KUSDDT3
3    I2.4.101941.zap2it.com   2.4 KUSDDT4           2.4       KUSDDT4
4    I2.6.108220.zap2it.com   2.6 KUSDDT6           2.6       KUSDDT6
..                      ...           ...           ...           ...
59  I46.3.116722.zap2it.com  46.3 KDLTDT3          46.3       KDLTDT3
60  I46.4.116723.zap2it.com  46.4 KDLTDT4          46.4       KDLTDT4
61  I46.5.118341.zap2it.com  46.5 KDLTDT5          46.5       KDLTDT5
62  I46.6.151558.zap2it.com  46.6 KDLTDT6          46.6       KDLTDT6
63     I53.17271.zap2it.com      53 K53EG            53         K53EG

[64 rows x 4 columns]

In [11]:
# Create a list to store dictionaries representing each book
progr_list = []
# Iterate through each <book> element
for progr_elem in root.findall('.//programme'):
    progr_dict = {}
    progr_dict['start'] = progr_elem.get('start')
    progr_dict['stop'] = progr_elem.get('stop')
    progr_dict['channel'] = progr_elem.get('channel')
    #progr_dict['title'] = progr_elem.get('title')


    i=0
    for child_elem in progr_elem.findall('title'):
        # print (child_elem.text)
        tag=child_elem.tag
        progr_dict[tag] = child_elem.text
        i += 1
        
    for child_elem in progr_elem.findall('sub-title'):
        # print (child_elem.text)
        tag=child_elem.tag
        progr_dict[tag] = child_elem.text
        
    for child_elem in progr_elem.findall('length'):
        # print (child_elem.text)
        tag=child_elem.tag
        progr_dict[tag] = child_elem.text


    progr_list.append(progr_dict)

In [13]:
pdf = pd.DataFrame(progr_list)

# Display the DataFrame
pdf.head()

,start,stop,channel,title,length,sub-title
0,20250116210000 +0000,20250116220000 +0000,I2.1.44246.zap2it.com,Rick Steves Experiencing Europe,60,NaN
1,20250116220000 +0000,20250116230000 +0000,I2.1.44246.zap2it.com,Legacy List With Matt Paxton,60,"All Systems Go (Downey, CA)"
2,20250116230000 +0000,20250116233000 +0000,I2.1.44246.zap2it.com,BBC News The Context,30,NaN
3,20250116233000 +0000,20250117000000 +0000,I2.1.44246.zap2it.com,BBC News America,30,NaN
4,20250116210000 +0000,20250116220000 +0000,I2.2.44248.zap2it.com,Art21: Art in the Twenty-First Century,60,Friends & Strangers

In [14]:
fdf = df[df['display-name1'] == '11.1']

In [15]:
fdf

                        id display-name0 display-name1 display-name2
25  I11.1.32797.zap2it.com   11.1 KELODT          11.1        KELODT

In [16]:
df.head()

                       id display-name0 display-name1 display-name2
0   I2.1.44246.zap2it.com    2.1 KUSDDT           2.1        KUSDDT
1   I2.2.44248.zap2it.com   2.2 KUSDDT2           2.2       KUSDDT2
2   I2.3.62638.zap2it.com   2.3 KUSDDT3           2.3       KUSDDT3
3  I2.4.101941.zap2it.com   2.4 KUSDDT4           2.4       KUSDDT4
4  I2.6.108220.zap2it.com   2.6 KUSDDT6           2.6       KUSDDT6

In [17]:
zap_c = fdf['id'].values[0]

In [16]:
kelo_df = pdf[pdf['channel'] == zap_c]

In [17]:
kelo_df.head()

,start,stop,channel,title,sub-title,length
94,20250115180000 +0000,20250115183000 +0000,I11.1.32797.zap2it.com,Midday in KELOLAND,NaN,30
95,20250115183000 +0000,20250115190000 +0000,I11.1.32797.zap2it.com,The Bold and the Beautiful,NaN,30
96,20250115190000 +0000,20250115200000 +0000,I11.1.32797.zap2it.com,The Price Is Right,NaN,60
97,20250115200000 +0000,20250115210000 +0000,I11.1.32797.zap2it.com,KELOLAND Living,NaN,60
344,20250115210000 +0000,20250115213000 +0000,I11.1.32797.zap2it.com,Family Feud,NaN,30

In [18]:
kelo_df.tail()

,start,stop,channel,title,sub-title,length
13925,20250122120000 +0000,20250122130000 +0000,I11.1.32797.zap2it.com,KELOLAND This Morning,NaN,60
13926,20250122130000 +0000,20250122150000 +0000,I11.1.32797.zap2it.com,CBS Mornings,NaN,120
14189,20250122150000 +0000,20250122160000 +0000,I11.1.32797.zap2it.com,Let's Make a Deal,NaN,60
14190,20250122160000 +0000,20250122170000 +0000,I11.1.32797.zap2it.com,The Price Is Right,NaN,60
14191,20250122170000 +0000,20250122180000 +0000,I11.1.32797.zap2it.com,The Young and the Restless,NaN,60

In [19]:
kelo_df[kelo_df['title'].str.contains("NCIS")]

,start,stop,channel,title,sub-title,length
4764,20250118010000 +0000,20250118020100 +0000,I11.1.32797.zap2it.com,NCIS: Sydney,Bunker Down,61
10834,20250121010000 +0000,20250121020000 +0000,I11.1.32797.zap2it.com,NCIS,Out of Control,60
10835,20250121020000 +0000,20250121030000 +0000,I11.1.32797.zap2it.com,NCIS: Origins,All's Not Lost,60

In [20]:
from datetime import datetime, timezone, timedelta

# Get current time in UTC
now_utc = datetime.now(timezone.utc)

# Format the time as a human-readable string
gmt_time_str = now_utc.strftime("%Y-%m-%d %H:%M:%S %Z") 

print(f"Current time in GMT: {gmt_time_str}")

Current time in GMT: 2025-01-16 02:34:44 UTC

In [21]:
gmt_time_str = now_utc.strftime("%Y%m%d%H%M%S") 

print(f"Current time in GMT: {gmt_time_str}")

Current time in GMT: 20250116023444

In [22]:
one_hour_later = now_utc + timedelta(hours=1)
# Format the time as a human-readable string
formatted_time = one_hour_later.strftime("%Y%m%d%H%M%S")

print(f"Time after adding one hour: {formatted_time}")

Time after adding one hour: 20250116033444

In [23]:
tqdf = kelo_df[kelo_df['start'] > gmt_time_str]

In [24]:
tqdf.shape

(201, 6)

In [25]:
tqdf.head()

,start,stop,channel,title,sub-title,length
860,20250116033000 +0000,20250116040000 +0000,I11.1.32797.zap2it.com,Poppa's House,Podcast,30
861,20250116040000 +0000,20250116043500 +0000,I11.1.32797.zap2it.com,KELOLAND News at Ten,NaN,35
862,20250116043500 +0000,20250116053700 +0000,I11.1.32797.zap2it.com,The Late Show With Stephen Colbert,Adam Scott; Janet Yellen,62
863,20250116053700 +0000,20250116063700 +0000,I11.1.32797.zap2it.com,After Midnight,Anna Seregina; Greta Titelman; Will Miles,60
1116,20250116053700 +0000,20250116063700 +0000,I11.1.32797.zap2it.com,After Midnight,Anna Seregina; Greta Titelman; Will Miles,60

In [26]:
kelo_df.shape

(216, 6)

In [27]:
formatted_time

'20250116033444'

In [28]:
tqqdf = tqdf[tqdf['stop'] < formatted_time]

In [29]:
tqqdf.shape

(0, 6)

In [30]:
tqqdf.head()

Empty DataFrame
Columns: [start, stop, channel, title, sub-title, length]
Index: []

In [31]:
from datetime import datetime, timedelta

def top_of_the_hour():
  """
  Calculates the datetime object representing the top of the current hour.

  Returns:
    datetime: The datetime object for the top of the current hour.
  """
  #now = datetime.now()
  now_utc = datetime.now(timezone.utc)
  now = now_utc

  if now.minute == 0:
    return now 
  else:
    # Calculate the time difference to the next hour
    next_hour = now #+ timedelta(hours=1)
    next_hour = next_hour.replace(minute=0, second=0, microsecond=0)
    return next_hour

# Get the datetime object for the top of the current hour
top_of_hour = top_of_the_hour()

# Format and print the result
print(f"Top of the hour: {top_of_hour}")

Top of the hour: 2025-01-16 02:00:00+00:00

In [32]:
type(top_of_hour)

datetime.datetime

In [33]:
gmt_time_str = top_of_hour.strftime("%Y%m%d%H%M%S")

In [34]:
gmt_time_str

'20250116020000'

In [35]:
tqdf = kelo_df[kelo_df['start'] > gmt_time_str]

In [36]:
tqdf.head(1)

,start,stop,channel,title,sub-title,length
614,20250116023000 +0000,20250116033000 +0000,I11.1.32797.zap2it.com,Raid the Cage,Bad to the Bone,60

In [37]:
pdf.dtypes

start        object
stop         object
channel      object
title        object
sub-title    object
length       object
dtype: object

In [38]:
pdf['start'] = pd.to_datetime(pdf['start'])

In [39]:
pdf['stop'] = pd.to_datetime(pdf['stop'])

In [40]:
pdf.dtypes

start        datetime64[ns, UTC]
stop         datetime64[ns, UTC]
channel                   object
title                     object
sub-title                 object
length                    object
dtype: object

In [41]:
pdf.head()

,start,stop,channel,title,sub-title,length
0,2025-01-15 18:00:00+00:00,2025-01-15 18:30:00+00:00,I2.1.44246.zap2it.com,Sesame Street,Elmo Helps the Amazing Zero!,30
1,2025-01-15 18:30:00+00:00,2025-01-15 19:00:00+00:00,I2.1.44246.zap2it.com,Molly of Denali,A Fin Romance; Follow That Hat,30
2,2025-01-15 19:00:00+00:00,2025-01-15 19:30:00+00:00,I2.1.44246.zap2it.com,Xavier Riddle and the Secret Museum,I Am Helen Keller; I Am Alexander Graham Bell,30
3,2025-01-15 19:30:00+00:00,2025-01-15 20:00:00+00:00,I2.1.44246.zap2it.com,Cyberchase,Hacker's Birthday Bash,30
4,2025-01-15 20:00:00+00:00,2025-01-15 20:30:00+00:00,I2.1.44246.zap2it.com,Wild Kratts,Fish Out of Water,30

In [42]:
#pdf['start'] = pdf['start'].dt.tz_convert('UTC')

In [43]:
pdf.head()

,start,stop,channel,title,sub-title,length
0,2025-01-15 18:00:00+00:00,2025-01-15 18:30:00+00:00,I2.1.44246.zap2it.com,Sesame Street,Elmo Helps the Amazing Zero!,30
1,2025-01-15 18:30:00+00:00,2025-01-15 19:00:00+00:00,I2.1.44246.zap2it.com,Molly of Denali,A Fin Romance; Follow That Hat,30
2,2025-01-15 19:00:00+00:00,2025-01-15 19:30:00+00:00,I2.1.44246.zap2it.com,Xavier Riddle and the Secret Museum,I Am Helen Keller; I Am Alexander Graham Bell,30
3,2025-01-15 19:30:00+00:00,2025-01-15 20:00:00+00:00,I2.1.44246.zap2it.com,Cyberchase,Hacker's Birthday Bash,30
4,2025-01-15 20:00:00+00:00,2025-01-15 20:30:00+00:00,I2.1.44246.zap2it.com,Wild Kratts,Fish Out of Water,30

In [44]:
#df['start'] = pd.to_datetime(df['start'])

# Check the timezone
print(pdf['start'].dt.tz)

UTC

In [45]:
pdf['start'] = pdf['start'].dt.tz_convert('Chicago')

UnknownTimeZoneError: 'Chicago'

In [46]:
from datetime import datetime

# Get current time with local timezone information
now = datetime.now()

# Extract timezone information
local_timezone = now.astimezone().tzinfo

# Print the timezone name
print("Current timezone:", local_timezone)

Current timezone: CST

In [47]:
pdf['start'] = pdf['start'].dt.tz_convert(local_timezone)

In [48]:
pdf.head()

,start,stop,channel,title,sub-title,length
0,2025-01-15 12:00:00-06:00,2025-01-15 18:30:00+00:00,I2.1.44246.zap2it.com,Sesame Street,Elmo Helps the Amazing Zero!,30
1,2025-01-15 12:30:00-06:00,2025-01-15 19:00:00+00:00,I2.1.44246.zap2it.com,Molly of Denali,A Fin Romance; Follow That Hat,30
2,2025-01-15 13:00:00-06:00,2025-01-15 19:30:00+00:00,I2.1.44246.zap2it.com,Xavier Riddle and the Secret Museum,I Am Helen Keller; I Am Alexander Graham Bell,30
3,2025-01-15 13:30:00-06:00,2025-01-15 20:00:00+00:00,I2.1.44246.zap2it.com,Cyberchase,Hacker's Birthday Bash,30
4,2025-01-15 14:00:00-06:00,2025-01-15 20:30:00+00:00,I2.1.44246.zap2it.com,Wild Kratts,Fish Out of Water,30