In [1]:
import xml.etree.ElementTree as ET

In [2]:
ugly = '/path/to/tvseries/xmltv.xml'
tree = ET.parse(ugly)
root = tree.getroot()

In [3]:

tree = ET.ElementTree(root)

In [4]:
for elm in tree.findall('channel'):
    print(elm.attrib)

{'id': 'I2.1.44246.zap2it.com'}
{'id': 'I2.2.44248.zap2it.com'}
{'id': 'I2.3.62638.zap2it.com'}
{'id': 'I2.4.101941.zap2it.com'}
{'id': 'I2.6.108220.zap2it.com'}
{'id': 'I4.1.31761.zap2it.com'}
{'id': 'I4.2.52383.zap2it.com'}
{'id': 'I4.3.80764.zap2it.com'}
{'id': 'I4.4.111083.zap2it.com'}
{'id': 'I4.5.111084.zap2it.com'}
{'id': 'I7.1.35471.zap2it.com'}
{'id': 'I7.10.126739.zap2it.com'}
{'id': 'I7.11.123848.zap2it.com'}
{'id': 'I7.2.64626.zap2it.com'}
{'id': 'I7.3.105730.zap2it.com'}
{'id': 'I7.4.121066.zap2it.com'}
{'id': 'I7.5.121067.zap2it.com'}
{'id': 'I7.6.121068.zap2it.com'}
{'id': 'I7.7.121069.zap2it.com'}
{'id': 'I7.8.121070.zap2it.com'}
{'id': 'I7.9.121453.zap2it.com'}
{'id': 'I9.1.33823.zap2it.com'}
{'id': 'I9.2.62614.zap2it.com'}
{'id': 'I9.3.100681.zap2it.com'}
{'id': 'I9.4.100682.zap2it.com'}
{'id': 'I11.1.32797.zap2it.com'}
{'id': 'I11.2.36025.zap2it.com'}
{'id': 'I11.3.97749.zap2it.com'}
{'id': 'I11.4.106553.zap2it.com'}
{'id': 'I13.1.20375.zap2it.com'}
{'id': 'I13.2.77031.zap2it.com'}
{'id': 'I13.3.96405.zap2it.com'}
{'id': 'I13.4.114695.zap2it.com'}
{'id': 'I13.5.124002.zap2it.com'}
{'id': 'I13.6.169314.zap2it.com'}
{'id': 'I14.1.35769.zap2it.com'}
{'id': 'I14.2.61794.zap2it.com'}
{'id': 'I14.3.96414.zap2it.com'}
{'id': 'I14.4.117318.zap2it.com'}
{'id': 'I20.1.52313.zap2it.com'}
{'id': 'I20.2.55688.zap2it.com'}
{'id': 'I20.3.58521.zap2it.com'}
{'id': 'I20.4.58523.zap2it.com'}
{'id': 'I20.5.103417.zap2it.com'}
{'id': 'I20.6.118340.zap2it.com'}
{'id': 'I23.1.43456.zap2it.com'}
{'id': 'I23.2.59313.zap2it.com'}
{'id': 'I23.3.62654.zap2it.com'}
{'id': 'I23.4.102729.zap2it.com'}
{'id': 'I23.6.108224.zap2it.com'}
{'id': 'I26.21448.zap2it.com'}
{'id': 'I36.1.44461.zap2it.com'}
{'id': 'I44.29085.zap2it.com'}
{'id': 'I44.1.34815.zap2it.com'}
{'id': 'I44.2.53291.zap2it.com'}
{'id': 'I44.3.91556.zap2it.com'}
{'id': 'I46.1.34587.zap2it.com'}
{'id': 'I46.2.49854.zap2it.com'}
{'id': 'I46.3.116722.zap2it.com'}
{'id': 'I46.4.116723.zap2it.com'}
{'id': 'I46.5.118341.zap2it.com'}
{'id': 'I46.6.151558.zap2it.com'}
{'id': 'I53.17271.zap2it.com'}

In [5]:
# Create a list to store dictionaries representing each book
books_list = []
# Iterate through each <book> element
for book_elem in root.findall('.//channel'):
    book_dict = {}
    book_dict['id'] = book_elem.get('id')
    i=0
    for child_elem in book_elem.findall('display-name'):
        print (child_elem.text)
        tag=child_elem.tag+str(i)
        book_dict[tag] = child_elem.text
        i += 1
    books_list.append(book_dict)

2.1 KUSDDT
2.1
KUSDDT
2.2 KUSDDT2
2.2
KUSDDT2
2.3 KUSDDT3
2.3
KUSDDT3
2.4 KUSDDT4
2.4
KUSDDT4
2.6 KUSDDT6
2.6
KUSDDT6
4.1 KTIVDT
4.1
KTIVDT
4.2 KTIVDT2
4.2
KTIVDT2
4.3 KTIVDT3
4.3
KTIVDT3
4.4 KTIVDT4
4.4
KTIVDT4
4.5 KTIVDT5
4.5
KTIVDT5
7.1 KTTWDT
7.1
KTTWDT
7.10 KTTWD10
7.10
KTTWD10
7.11 KTTWD11
7.11
KTTWD11
7.2 KTTWDT2
7.2
KTTWDT2
7.3 KTTWDT3
7.3
KTTWDT3
7.4 KTTWDT4
7.4
KTTWDT4
7.5 KTTWDT5
7.5
KTTWDT5
7.6 KTTWDT6
7.6
KTTWDT6
7.7 KTTWDT7
7.7
KTTWDT7
7.8 KTTWDT8
7.8
KTTWDT8
7.9 KTTWDT9
7.9
KTTWDT9
9.1 KCAUDT
9.1
KCAUDT
9.2 KCAUDT2
9.2
KCAUDT2
9.3 KCAUDT3
9.3
KCAUDT3
9.4 KCAUDT4
9.4
KCAUDT4
11.1 KELODT
11.1
KELODT
11.2 KELODT2
11.2
KELODT2
11.3 KELODT3
11.3
KELODT3
11.4 KELODT4
11.4
KELODT4
13.1 KSFYDT
13.1
KSFYDT
13.2 KSFYDT2
13.2
KSFYDT2
13.3 KSFYDT3
13.3
KSFYDT3
13.4 KSFYDT4
13.4
KSFYDT4
13.5 KSFYDT5
13.5
KSFYDT5
13.6 KSFYDT6
13.6
KSFYDT6
14.1 KMEGDT
14.1
KMEGDT
14.2 KMEGDT2
14.2
KMEGDT2
14.3 KMEGDT3
14.3
KMEGDT3
14.4 KMEGDT4
14.4
KMEGDT4
20.1 KSMNDT
20.1
KSMNDT
20.2 KSMNDT2
20.2
KSMNDT2
20.3 KSMNDT3
20.3
KSMNDT3
20.4 KSMNDT4
20.4
KSMNDT4
20.5 KSMNDT5
20.5
KSMNDT5
20.6 KSMNDT6
20.6
KSMNDT6
23.1 KCSDDT
23.1
KCSDDT
23.2 KCSDDT2
23.2
KCSDDT2
23.3 KCSDDT3
23.3
KCSDDT3
23.4 KCSDDT4
23.4
KCSDDT4
23.6 KCSDDT6
23.6
KCSDDT6
26 KCPOLP
26
KCPOLP
36.1 KSFLDT
36.1
KSFLDT
44 KCWSLP
44
KCWSLP
44.1 KPTHDT
44.1
KPTHDT
44.2 KPTHDT2
44.2
KPTHDT2
44.3 KPTHDT3
44.3
KPTHDT3
46.1 KDLTDT
46.1
KDLTDT
46.2 KDLTDT2
46.2
KDLTDT2
46.3 KDLTDT3
46.3
KDLTDT3
46.4 KDLTDT4
46.4
KDLTDT4
46.5 KDLTDT5
46.5
KDLTDT5
46.6 KDLTDT6
46.6
KDLTDT6
53 K53EG
53
K53EG

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(books_list)

# Display the DataFrame
print(df)

                         id display-name0 display-name1 display-name2
0     I2.1.44246.zap2it.com    2.1 KUSDDT           2.1        KUSDDT
1     I2.2.44248.zap2it.com   2.2 KUSDDT2           2.2       KUSDDT2
2     I2.3.62638.zap2it.com   2.3 KUSDDT3           2.3       KUSDDT3
3    I2.4.101941.zap2it.com   2.4 KUSDDT4           2.4       KUSDDT4
4    I2.6.108220.zap2it.com   2.6 KUSDDT6           2.6       KUSDDT6
..                      ...           ...           ...           ...
58  I46.3.116722.zap2it.com  46.3 KDLTDT3          46.3       KDLTDT3
59  I46.4.116723.zap2it.com  46.4 KDLTDT4          46.4       KDLTDT4
60  I46.5.118341.zap2it.com  46.5 KDLTDT5          46.5       KDLTDT5
61  I46.6.151558.zap2it.com  46.6 KDLTDT6          46.6       KDLTDT6
62     I53.17271.zap2it.com      53 K53EG            53         K53EG

[63 rows x 4 columns]

In [8]:
# Create a list to store dictionaries representing each book
progr_list = []
# Iterate through each <book> element
for progr_elem in root.findall('.//programme'):
    progr_dict = {}
    progr_dict['start'] = progr_elem.get('start')
    progr_dict['stop'] = progr_elem.get('stop')
    progr_dict['channel'] = progr_elem.get('channel')
    #progr_dict['title'] = progr_elem.get('title')


    i=0
    for child_elem in progr_elem.findall('title'):
        # print (child_elem.text)
        tag=child_elem.tag
        progr_dict[tag] = child_elem.text
        i += 1
        
    for child_elem in progr_elem.findall('sub-title'):
        # print (child_elem.text)
        tag=child_elem.tag
        progr_dict[tag] = child_elem.text
        
    for child_elem in progr_elem.findall('length'):
        # print (child_elem.text)
        tag=child_elem.tag
        progr_dict[tag] = child_elem.text


    progr_list.append(progr_dict)

In [9]:
pdf = pd.DataFrame(progr_list)

# Display the DataFrame
pdf.head()

,start,stop,channel,title,sub-title,length
0,20241218180000 +0000,20241218183000 +0000,I2.1.44246.zap2it.com,Sesame Street,Monster Truckin',30
1,20241218183000 +0000,20241218190000 +0000,I2.1.44246.zap2it.com,Molly of Denali,Seal Dance; Snowboarding Qyah Style,30
2,20241218190000 +0000,20241218193000 +0000,I2.1.44246.zap2it.com,Xavier Riddle and the Secret Museum,We Are Siegel and Shuster; I Am Edmonia Lewis,30
3,20241218193000 +0000,20241218200000 +0000,I2.1.44246.zap2it.com,Cyberchase,The Domino Dilemma,30
4,20241218200000 +0000,20241218203000 +0000,I2.1.44246.zap2it.com,Wild Kratts,Adapto the Coyote,30

In [10]:
fdf = df[df['display-name1'] == '13.3']

In [11]:
fdf

                        id display-name0 display-name1 display-name2
31  I13.3.96405.zap2it.com  13.3 KSFYDT3          13.3       KSFYDT3

In [12]:
df.head()

                       id display-name0 display-name1 display-name2
0   I2.1.44246.zap2it.com    2.1 KUSDDT           2.1        KUSDDT
1   I2.2.44248.zap2it.com   2.2 KUSDDT2           2.2       KUSDDT2
2   I2.3.62638.zap2it.com   2.3 KUSDDT3           2.3       KUSDDT3
3  I2.4.101941.zap2it.com   2.4 KUSDDT4           2.4       KUSDDT4
4  I2.6.108220.zap2it.com   2.6 KUSDDT6           2.6       KUSDDT6

In [13]:
zap_c = fdf['id'].values[0]

In [14]:
kelo_df = pdf[pdf['channel'] == zap_c]

In [15]:
kelo_df.head()

,start,stop,channel,title,sub-title,length
119,20241218180000 +0000,20241218190000 +0000,I13.3.96405.zap2it.com,Gunsmoke,The Drummer,60
120,20241218190000 +0000,20241218200000 +0000,I13.3.96405.zap2it.com,Bonanza,King of the Mountain,60
121,20241218200000 +0000,20241218203000 +0000,I13.3.96405.zap2it.com,The Rifleman,The Angry Man,30
122,20241218203000 +0000,20241218210000 +0000,I13.3.96405.zap2it.com,The Rifleman,The Woman,30
362,20241218210000 +0000,20241218220000 +0000,I13.3.96405.zap2it.com,Wagon Train,Clyde,60

In [16]:
kelo_df.tail()

,start,stop,channel,title,sub-title,length
13528,20241225133000 +0000,20241225140000 +0000,I13.3.96405.zap2it.com,Leave It to Beaver,Long Distance Call,30
13529,20241225140000 +0000,20241225150000 +0000,I13.3.96405.zap2it.com,Perry Mason,The Case of the Difficult Detour,60
13768,20241225150000 +0000,20241225160000 +0000,I13.3.96405.zap2it.com,Matlock,The Secret,60
13769,20241225160000 +0000,20241225170000 +0000,I13.3.96405.zap2it.com,In the Heat of the Night,Legacy,60
13770,20241225170000 +0000,20241225180000 +0000,I13.3.96405.zap2it.com,The Waltons,The Children's Carol,60

In [17]:
kelo_df[kelo_df['title'].str.contains("NCIS")]

Empty DataFrame
Columns: [start, stop, channel, title, sub-title, length]
Index: []

In [18]:
from datetime import datetime, timezone, timedelta

# Get current time in UTC
now_utc = datetime.now(timezone.utc)

# Format the time as a human-readable string
gmt_time_str = now_utc.strftime("%Y-%m-%d %H:%M:%S %Z") 

print(f"Current time in GMT: {gmt_time_str}")

Current time in GMT: 2024-12-20 08:46:04 UTC

In [19]:
gmt_time_str = now_utc.strftime("%Y%m%d%H%M%S") 

print(f"Current time in GMT: {gmt_time_str}")

Current time in GMT: 20241220084604

In [20]:
one_hour_later = now_utc + timedelta(hours=1)
# Format the time as a human-readable string
formatted_time = one_hour_later.strftime("%Y%m%d%H%M%S")

print(f"Time after adding one hour: {formatted_time}")

Time after adding one hour: 20241220094604

In [21]:
tqdf = kelo_df[kelo_df['start'] > gmt_time_str]

In [22]:
tqdf.shape

(186, 6)

In [23]:
tqdf.head()

,start,stop,channel,title,sub-title,length
3366,20241220090500 +0000,20241220100000 +0000,I13.3.96405.zap2it.com,Barnaby Jones,The Medium,55
3367,20241220100000 +0000,20241220103000 +0000,I13.3.96405.zap2it.com,Highway Patrol,Taxi,30
3368,20241220103000 +0000,20241220110000 +0000,I13.3.96405.zap2it.com,Dragnet,The Phony Police Racket,30
3369,20241220110000 +0000,20241220113000 +0000,I13.3.96405.zap2it.com,Adam-12,Alcohol,30
3370,20241220113000 +0000,20241220120000 +0000,I13.3.96405.zap2it.com,Adam-12,Credit Risk,30

In [24]:
kelo_df.shape

(248, 6)

In [25]:
formatted_time

'20241220094604'

In [26]:
tqqdf = tqdf[tqdf['stop'] < formatted_time]

In [27]:
tqqdf.shape

(0, 6)

In [28]:
tqqdf.head()

Empty DataFrame
Columns: [start, stop, channel, title, sub-title, length]
Index: []

In [29]:
from datetime import datetime, timedelta

def top_of_the_hour():
  """
  Calculates the datetime object representing the top of the current hour.

  Returns:
    datetime: The datetime object for the top of the current hour.
  """
  #now = datetime.now()
  now_utc = datetime.now(timezone.utc)
  now = now_utc

  if now.minute == 0:
    return now 
  else:
    # Calculate the time difference to the next hour
    next_hour = now #+ timedelta(hours=1)
    next_hour = next_hour.replace(minute=0, second=0, microsecond=0)
    return next_hour

# Get the datetime object for the top of the current hour
top_of_hour = top_of_the_hour()

# Format and print the result
print(f"Top of the hour: {top_of_hour}")

Top of the hour: 2024-12-20 08:00:00+00:00

In [30]:
type(top_of_hour)

datetime.datetime

In [31]:
gmt_time_str = top_of_hour.strftime("%Y%m%d%H%M%S")

In [32]:
gmt_time_str

'20241220080000'

In [33]:
tqdf = kelo_df[kelo_df['start'] > gmt_time_str]

In [34]:
tqdf.head(1)

,start,stop,channel,title,sub-title,length
3111,20241220080500 +0000,20241220090500 +0000,I13.3.96405.zap2it.com,Cannon,The Island Caper,60